---
import Layout from "@layouts/Layout.astro";

import "@styles/global.css";
---

<Layout>
  <div class="w-full flex justify-center items-center h-40">
    <h1
      class="text-6xl w-full text-center font-medium bg-gradient-to-r from-yellow-600 to-indigo-600 bg-clip-text text-transparent"
    >
      ¡ArtWave Festival!
    </h1>
  </div>
</Layout>
